/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HM: HM {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <28>;
            hold-trigger-on-release;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp GRAVE              &kp N1  &kp N2  &kp N3  &kp N4     &kp N5                             &kp N6       &kp N7       &kp N8        &kp N9   &kp N0    &kp MINUS
&mt LCTRL TAB          &kp Q   &kp W   &kp E   &kp R      &kp T                              &kp Y        &kp U        &kp I         &kp O    &kp P     &mt LCTRL BACKSPACE
&mt LEFT_SHIFT ESCAPE  &kp A   &kp S   &kp D   &kp F      &kp G                              &kp H        &kp J        &kp K         &kp L    &kp SEMI  &mt LSHIFT ENTER
&mt LS(LGUI) DEL       &kp Z   &kp X   &kp C   &kp V      &kp B            &trans    &trans  &kp N        &kp M        &kp COMMA     &kp DOT  &kp FSLH  &mt LS(LGUI) DELETE
                                       &mo 0   &lt 0 TAB  &lt 0 BACKSPACE  &trans    &trans  &lt 0 SPACE  &lt 0 ENTER  &kp CAPSLOCK
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
